USE [EsayImmo]
GO
/****** Object:  Table [dbo].[Agency_Services]    Script Date: 30-05-26 23:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agency_Services](
	[id_service] [int] IDENTITY(1,1) NOT NULL,
	[id_typeService] [int] NOT NULL,
	[id_client] [int] NOT NULL,
	[id_agent] [int] NULL,
	[description] [nvarchar](max) NULL,
	[date_service] [datetime] NULL,
	[price] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_service] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Agent]    Script Date: 30-05-26 23:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agent](
	[id_agent] [int] IDENTITY(1,1) NOT NULL,
	[id_user] [int] NOT NULL,
	[hire_date] [date] NULL,
	[active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_agent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client_Event]    Script Date: 30-05-26 23:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client_Event](
	[id_client] [int] NOT NULL,
	[id_event] [int] NOT NULL,
	[role_in_event] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_client] ASC,
	[id_event] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 30-05-26 23:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[id_client] [int] IDENTITY(1,1) NOT NULL,
	[lastname] [nvarchar](100) NOT NULL,
	[firstname] [nvarchar](100) NOT NULL,
	[email] [nvarchar](150) NULL,
	[phone] [nvarchar](20) NULL,
	[address] [nvarchar](255) NULL,
	[type_client] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estate_Documents]    Script Date: 30-05-26 23:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estate_Documents](
	[id_document] [int] IDENTITY(1,1) NOT NULL,
	[id_estate] [int] NULL,
	[document_name] [nvarchar](255) NULL,
	[document_path] [nvarchar](500) NULL,
	[upload_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_document] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estate_Images]    Script Date: 30-05-26 23:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estate_Images](
	[id_image] [int] IDENTITY(1,1) NOT NULL,
	[id_estate] [int] NULL,
	[image_path] [nvarchar](500) NULL,
	[is_main] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_image] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estate_status_history]    Script Date: 30-05-26 23:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estate_status_history](
	[id_history] [int] IDENTITY(1,1) NOT NULL,
	[id_estate] [int] NOT NULL,
	[id_statusOffer] [int] NOT NULL,
	[date_start] [datetime] NOT NULL,
	[date_end] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_history] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 30-05-26 23:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[id_event] [int] IDENTITY(1,1) NOT NULL,
	[id_typeEvent] [int] NOT NULL,
	[id_estate] [int] NOT NULL,
	[date_event] [datetime] NOT NULL,
	[notes] [nvarchar](max) NULL,
	[id_agent] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_event] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Real_estate]    Script Date: 30-05-26 23:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Real_estate](
	[id_estate] [int] IDENTITY(1,1) NOT NULL,
	[reference] [nvarchar](50) NOT NULL,
	[title] [nvarchar](150) NOT NULL,
	[description] [nvarchar](max) NULL,
	[address] [nvarchar](255) NOT NULL,
	[city] [nvarchar](100) NULL,
	[postal_code] [nvarchar](10) NULL,
	[surface] [decimal](10, 2) NULL,
	[price] [decimal](12, 2) NULL,
	[creation_date] [datetime] NULL,
	[id_typeEstate] [int] NOT NULL,
	[id_owner] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type_estate]    Script Date: 30-05-26 23:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type_estate](
	[id_typeEstate] [int] IDENTITY(1,1) NOT NULL,
	[label] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_typeEstate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type_event]    Script Date: 30-05-26 23:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type_event](
	[id_typeEvent] [int] IDENTITY(1,1) NOT NULL,
	[label] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_typeEvent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type_service]    Script Date: 30-05-26 23:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type_service](
	[id_typeService] [int] IDENTITY(1,1) NOT NULL,
	[label] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_typeService] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type_statusOffer]    Script Date: 30-05-26 23:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type_statusOffer](
	[id_statusOffer] [int] IDENTITY(1,1) NOT NULL,
	[label] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_statusOffer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProg]    Script Date: 30-05-26 23:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProg](
	[id_user] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[role] [nvarchar](50) NULL,
	[email] [nvarchar](150) NULL,
	[phone] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Agency_Services] ON 

INSERT [dbo].[Agency_Services] ([id_service], [id_typeService], [id_client], [id_agent], [description], [date_service], [price]) VALUES (1, 1, 1, 1, N'Service de vente du bien REF001', CAST(N'2025-11-08T20:21:47.390' AS DateTime), CAST(2500.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[Agency_Services] OFF
GO
SET IDENTITY_INSERT [dbo].[Agent] ON 

INSERT [dbo].[Agent] ([id_agent], [id_user], [hire_date], [active]) VALUES (1, 1, CAST(N'2024-01-01' AS Date), 1)
INSERT [dbo].[Agent] ([id_agent], [id_user], [hire_date], [active]) VALUES (2, 1003, CAST(N'2026-01-01' AS Date), 1)
INSERT [dbo].[Agent] ([id_agent], [id_user], [hire_date], [active]) VALUES (2003, 3004, CAST(N'2020-01-15' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Agent] OFF
GO
INSERT [dbo].[Client_Event] ([id_client], [id_event], [role_in_event]) VALUES (1, 1, N'Visiteur')
INSERT [dbo].[Client_Event] ([id_client], [id_event], [role_in_event]) VALUES (1, 2003, N'Visiteur')
INSERT [dbo].[Client_Event] ([id_client], [id_event], [role_in_event]) VALUES (4, 2004, N'Visiteur')
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([id_client], [lastname], [firstname], [email], [phone], [address], [type_client]) VALUES (1, N'Dupont', N'Marie', NULL, NULL, NULL, N'Propriétaire')
INSERT [dbo].[Clients] ([id_client], [lastname], [firstname], [email], [phone], [address], [type_client]) VALUES (2, N'Parion', N'Frédéric', NULL, NULL, NULL, NULL)
INSERT [dbo].[Clients] ([id_client], [lastname], [firstname], [email], [phone], [address], [type_client]) VALUES (3, N'Parion', N'Frédéric', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[Estate_Documents] ON 

INSERT [dbo].[Estate_Documents] ([id_document], [id_estate], [document_name], [document_path], [upload_date]) VALUES (1, 5, N'CV_Dymitri_Bourgaux eng 2026.pdf', N'C:\Users\dymit\AppData\Local\Packages\com.companyname.immoappui_9zz4h110yvjzm\LocalState\EstateDocuments\CV_Dymitri_Bourgaux eng 2026.pdf', CAST(N'2026-05-25T20:14:03.690' AS DateTime))
SET IDENTITY_INSERT [dbo].[Estate_Documents] OFF
GO
SET IDENTITY_INSERT [dbo].[Estate_Images] ON 

INSERT [dbo].[Estate_Images] ([id_image], [id_estate], [image_path], [is_main]) VALUES (1, 5, N'C:\Users\dymit\AppData\Local\Packages\com.companyname.immoappui_9zz4h110yvjzm\LocalState\EstateImages\maison-contemporaine-la-maison-saint-gobain01.jpg', 1)
INSERT [dbo].[Estate_Images] ([id_image], [id_estate], [image_path], [is_main]) VALUES (2, 5, N'C:\Users\dymit\AppData\Local\Packages\com.companyname.immoappui_9zz4h110yvjzm\LocalState\EstateImages\maison-moderne-tendance.jpg', 0)
INSERT [dbo].[Estate_Images] ([id_image], [id_estate], [image_path], [is_main]) VALUES (3, 5, N'C:\Users\dymit\AppData\Local\Packages\com.companyname.immoappui_9zz4h110yvjzm\LocalState\EstateImages\Pammax-Architectes-Plans-de-maison-boisbriand-interieur-P-100-1-V2-4.png', 0)
SET IDENTITY_INSERT [dbo].[Estate_Images] OFF
GO
SET IDENTITY_INSERT [dbo].[Estate_status_history] ON 

INSERT [dbo].[Estate_status_history] ([id_history], [id_estate], [id_statusOffer], [date_start], [date_end]) VALUES (1, 1, 1, CAST(N'2025-11-01T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Estate_status_history] ([id_history], [id_estate], [id_statusOffer], [date_start], [date_end]) VALUES (2, 5, 1, CAST(N'2026-05-15T13:51:53.713' AS DateTime), CAST(N'2026-05-18T18:59:42.333' AS DateTime))
INSERT [dbo].[Estate_status_history] ([id_history], [id_estate], [id_statusOffer], [date_start], [date_end]) VALUES (1002, 5, 3, CAST(N'2026-05-18T18:59:42.333' AS DateTime), CAST(N'2026-05-24T21:00:45.023' AS DateTime))
SET IDENTITY_INSERT [dbo].[Estate_status_history] OFF
GO
SET IDENTITY_INSERT [dbo].[Event] ON 

INSERT [dbo].[Event] ([id_event], [id_typeEvent], [id_estate], [date_event], [notes], [id_agent]) VALUES (1, 1, 1, CAST(N'2025-11-08T20:21:47.360' AS DateTime), N'Première visite du bien REF001', NULL)
INSERT [dbo].[Event] ([id_event], [id_typeEvent], [id_estate], [date_event], [notes], [id_agent]) VALUES (1003, 1, 5, CAST(N'2026-05-24T00:00:00.000' AS DateTime), N'test', 1)
INSERT [dbo].[Event] ([id_event], [id_typeEvent], [id_estate], [date_event], [notes], [id_agent]) VALUES (2003, 1, 1004, CAST(N'2026-04-01T10:00:00.000' AS DateTime), N'Première visite du bien avec famille intéressée', 2003)
SET IDENTITY_INSERT [dbo].[Event] OFF
GO
SET IDENTITY_INSERT [dbo].[Real_estate] ON 

INSERT [dbo].[Real_estate] ([id_estate], [reference], [title], [description], [address], [city], [postal_code], [surface], [price], [creation_date], [id_typeEstate], [id_owner]) VALUES (1, N'REF001', N'Appartement centre-ville', NULL, N'12 rue Victor Hugo', NULL, NULL, CAST(85.50 AS Decimal(10, 2)), CAST(250000.00 AS Decimal(12, 2)), CAST(N'2025-11-08T20:21:47.237' AS DateTime), 1, 1)
INSERT [dbo].[Real_estate] ([id_estate], [reference], [title], [description], [address], [city], [postal_code], [surface], [price], [creation_date], [id_typeEstate], [id_owner]) VALUES (2, N'000001', N'Maison Hamme-Mille', N'Grande maison 4 faceades dans le Brabant Wallon', N'Rue Alfred Scheers 3', N'Beauvechain', N'1320', CAST(350.00 AS Decimal(10, 2)), CAST(420000.00 AS Decimal(12, 2)), CAST(N'2026-05-13T12:29:17.023' AS DateTime), 1, 2)
INSERT [dbo].[Real_estate] ([id_estate], [reference], [title], [description], [address], [city], [postal_code], [surface], [price], [creation_date], [id_typeEstate], [id_owner]) VALUES (3, N'00002', N'Appartement Golfe du bercuit', N'Petit appartement avec vue sur le golf ', N'Rue du bercuit 3', N'Grez-Doiceau', N'1390', CAST(120.00 AS Decimal(10, 2)), CAST(400000.00 AS Decimal(12, 2)), CAST(N'2026-05-13T17:17:06.627' AS DateTime), 1, 2)
SET IDENTITY_INSERT [dbo].[Real_estate] OFF
GO
SET IDENTITY_INSERT [dbo].[Type_estate] ON 

INSERT [dbo].[Type_estate] ([id_typeEstate], [label]) VALUES (1, N'Appartement')
INSERT [dbo].[Type_estate] ([id_typeEstate], [label]) VALUES (2, N'Maison')
INSERT [dbo].[Type_estate] ([id_typeEstate], [label]) VALUES (3, N'Terrain')
SET IDENTITY_INSERT [dbo].[Type_estate] OFF
GO
SET IDENTITY_INSERT [dbo].[Type_event] ON 

INSERT [dbo].[Type_event] ([id_typeEvent], [label]) VALUES (4, N'Accord')
INSERT [dbo].[Type_event] ([id_typeEvent], [label]) VALUES (3, N'Appel')
INSERT [dbo].[Type_event] ([id_typeEvent], [label]) VALUES (2, N'Signature')
SET IDENTITY_INSERT [dbo].[Type_event] OFF
GO
SET IDENTITY_INSERT [dbo].[Type_service] ON 

INSERT [dbo].[Type_service] ([id_typeService], [label]) VALUES (3, N'Estimation')
INSERT [dbo].[Type_service] ([id_typeService], [label]) VALUES (2, N'Location')
INSERT [dbo].[Type_service] ([id_typeService], [label]) VALUES (1, N'Vente')
SET IDENTITY_INSERT [dbo].[Type_service] OFF
GO
SET IDENTITY_INSERT [dbo].[Type_statusOffer] ON 

INSERT [dbo].[Type_statusOffer] ([id_statusOffer], [label]) VALUES (6, N'À louer')
INSERT [dbo].[Type_statusOffer] ([id_statusOffer], [label]) VALUES (1, N'Disponible')
INSERT [dbo].[Type_statusOffer] ([id_statusOffer], [label]) VALUES (2, N'En visite')
SET IDENTITY_INSERT [dbo].[Type_statusOffer] OFF
GO
SET IDENTITY_INSERT [dbo].[UserProg] ON 

INSERT [dbo].[UserProg] ([id_user], [username], [password_hash], [role], [email], [phone]) VALUES (1, N'admin', N'hash12345', N'Admin', NULL, NULL)
INSERT [dbo].[UserProg] ([id_user], [username], [password_hash], [role], [email], [phone]) VALUES (2, N'Dymitri', N'test123', N'Admin', N'dymitri.bourgaux@test.com', N'+32473489263')
INSERT [dbo].[UserProg] ([id_user], [username], [password_hash], [role], [email], [phone]) VALUES (1002, N'John.doe', N'test', N'agent', N'john@test.com', N'0473489285')
SET IDENTITY_INSERT [dbo].[UserProg] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Real_est__FD90DA9906BC1E9A]    Script Date: 30-05-26 23:31:35 ******/
ALTER TABLE [dbo].[Real_estate] ADD UNIQUE NONCLUSTERED 
(
	[reference] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Type_est__4823FDB2D9F2C0A9]    Script Date: 30-05-26 23:31:35 ******/
ALTER TABLE [dbo].[Type_estate] ADD UNIQUE NONCLUSTERED 
(
	[label] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Type_eve__4823FDB2D04F90B6]    Script Date: 30-05-26 23:31:35 ******/
ALTER TABLE [dbo].[Type_event] ADD UNIQUE NONCLUSTERED 
(
	[label] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Type_ser__4823FDB295CC097E]    Script Date: 30-05-26 23:31:35 ******/
ALTER TABLE [dbo].[Type_service] ADD UNIQUE NONCLUSTERED 
(
	[label] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Type_sta__4823FDB26D05B258]    Script Date: 30-05-26 23:31:35 ******/
ALTER TABLE [dbo].[Type_statusOffer] ADD UNIQUE NONCLUSTERED 
(
	[label] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UserProg__F3DBC572D11DB980]    Script Date: 30-05-26 23:31:35 ******/
ALTER TABLE [dbo].[UserProg] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Agency_Services] ADD  DEFAULT (getdate()) FOR [date_service]
GO
ALTER TABLE [dbo].[Agent] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[Estate_Documents] ADD  DEFAULT (getdate()) FOR [upload_date]
GO
ALTER TABLE [dbo].[Estate_Images] ADD  DEFAULT ((0)) FOR [is_main]
GO
ALTER TABLE [dbo].[Real_estate] ADD  DEFAULT (getdate()) FOR [creation_date]
GO
ALTER TABLE [dbo].[Agency_Services]  WITH CHECK ADD FOREIGN KEY([id_agent])
REFERENCES [dbo].[Agent] ([id_agent])
GO
ALTER TABLE [dbo].[Agency_Services]  WITH CHECK ADD FOREIGN KEY([id_client])
REFERENCES [dbo].[Clients] ([id_client])
GO
ALTER TABLE [dbo].[Agency_Services]  WITH CHECK ADD FOREIGN KEY([id_typeService])
REFERENCES [dbo].[Type_service] ([id_typeService])
GO
ALTER TABLE [dbo].[Agent]  WITH CHECK ADD FOREIGN KEY([id_user])
REFERENCES [dbo].[UserProg] ([id_user])
GO
ALTER TABLE [dbo].[Client_Event]  WITH CHECK ADD FOREIGN KEY([id_client])
REFERENCES [dbo].[Clients] ([id_client])
GO
ALTER TABLE [dbo].[Client_Event]  WITH CHECK ADD FOREIGN KEY([id_event])
REFERENCES [dbo].[Event] ([id_event])
GO
ALTER TABLE [dbo].[Estate_Documents]  WITH CHECK ADD FOREIGN KEY([id_estate])
REFERENCES [dbo].[Real_estate] ([id_estate])
GO
ALTER TABLE [dbo].[Estate_Images]  WITH CHECK ADD FOREIGN KEY([id_estate])
REFERENCES [dbo].[Real_estate] ([id_estate])
GO
ALTER TABLE [dbo].[Estate_status_history]  WITH CHECK ADD FOREIGN KEY([id_estate])
REFERENCES [dbo].[Real_estate] ([id_estate])
GO
ALTER TABLE [dbo].[Estate_status_history]  WITH CHECK ADD FOREIGN KEY([id_statusOffer])
REFERENCES [dbo].[Type_statusOffer] ([id_statusOffer])
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD FOREIGN KEY([id_agent])
REFERENCES [dbo].[Agent] ([id_agent])
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD FOREIGN KEY([id_estate])
REFERENCES [dbo].[Real_estate] ([id_estate])
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD FOREIGN KEY([id_typeEvent])
REFERENCES [dbo].[Type_event] ([id_typeEvent])
GO
ALTER TABLE [dbo].[Real_estate]  WITH CHECK ADD FOREIGN KEY([id_owner])
REFERENCES [dbo].[Clients] ([id_client])
GO
ALTER TABLE [dbo].[Real_estate]  WITH CHECK ADD FOREIGN KEY([id_typeEstate])
REFERENCES [dbo].[Type_estate] ([id_typeEstate])
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD CHECK  (([type_client]='Partenaire' OR [type_client]='Locataire' OR [type_client]='Acheteur' OR [type_client]='Propriétaire'))
GO
ALTER TABLE [dbo].[UserProg]  WITH CHECK ADD CHECK  (([role]='Assistant' OR [role]='Agent' OR [role]='Admin'))
GO
