USE [master]
GO
/****** Object:  Database [EsayImmo]    Script Date: 26-05-26 20:04:32 ******/
CREATE DATABASE [EsayImmo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EsayImmo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EsayImmo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EsayImmo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EsayImmo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EsayImmo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EsayImmo]
GO
/****** Object:  Table [dbo].[Agency_Services]    Script Date: 26-05-26 20:04:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agency_Services](
	[id_service] [int] IDENTITY(1,1) NOT NULL,
	[id_typeService] [int] NOT NULL,
	[id_client] [int] NOT NULL,
	[id_agent] [int] NULL,
	[description] [nvarchar](max) NULL,
	[date_service] [datetime] NULL,
	[price] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_service] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Agent]    Script Date: 26-05-26 20:04:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agent](
	[id_agent] [int] IDENTITY(1,1) NOT NULL,
	[id_user] [int] NOT NULL,
	[hire_date] [date] NULL,
	[active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_agent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client_Event]    Script Date: 26-05-26 20:04:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client_Event](
	[id_client] [int] NOT NULL,
	[id_event] [int] NOT NULL,
	[role_in_event] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_client] ASC,
	[id_event] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 26-05-26 20:04:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[id_client] [int] IDENTITY(1,1) NOT NULL,
	[lastname] [nvarchar](100) NOT NULL,
	[firstname] [nvarchar](100) NOT NULL,
	[email] [nvarchar](150) NULL,
	[phone] [nvarchar](20) NULL,
	[address] [nvarchar](255) NULL,
	[type_client] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estate_Documents]    Script Date: 26-05-26 20:04:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estate_Documents](
	[id_document] [int] IDENTITY(1,1) NOT NULL,
	[id_estate] [int] NULL,
	[document_name] [nvarchar](255) NULL,
	[document_path] [nvarchar](500) NULL,
	[upload_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_document] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estate_Images]    Script Date: 26-05-26 20:04:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estate_Images](
	[id_image] [int] IDENTITY(1,1) NOT NULL,
	[id_estate] [int] NULL,
	[image_path] [nvarchar](500) NULL,
	[is_main] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_image] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estate_status_history]    Script Date: 26-05-26 20:04:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estate_status_history](
	[id_history] [int] IDENTITY(1,1) NOT NULL,
	[id_estate] [int] NOT NULL,
	[id_statusOffer] [int] NOT NULL,
	[date_start] [datetime] NOT NULL,
	[date_end] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_history] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 26-05-26 20:04:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[id_event] [int] IDENTITY(1,1) NOT NULL,
	[id_typeEvent] [int] NOT NULL,
	[id_estate] [int] NOT NULL,
	[date_event] [datetime] NOT NULL,
	[notes] [nvarchar](max) NULL,
	[id_agent] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_event] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Real_estate]    Script Date: 26-05-26 20:04:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Real_estate](
	[id_estate] [int] IDENTITY(1,1) NOT NULL,
	[reference] [nvarchar](50) NOT NULL,
	[title] [nvarchar](150) NOT NULL,
	[description] [nvarchar](max) NULL,
	[address] [nvarchar](255) NOT NULL,
	[city] [nvarchar](100) NULL,
	[postal_code] [nvarchar](10) NULL,
	[surface] [decimal](10, 2) NULL,
	[price] [decimal](12, 2) NULL,
	[creation_date] [datetime] NULL,
	[id_typeEstate] [int] NOT NULL,
	[id_owner] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[reference] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type_estate]    Script Date: 26-05-26 20:04:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type_estate](
	[id_typeEstate] [int] IDENTITY(1,1) NOT NULL,
	[label] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_typeEstate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[label] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type_event]    Script Date: 26-05-26 20:04:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type_event](
	[id_typeEvent] [int] IDENTITY(1,1) NOT NULL,
	[label] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_typeEvent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[label] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type_service]    Script Date: 26-05-26 20:04:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type_service](
	[id_typeService] [int] IDENTITY(1,1) NOT NULL,
	[label] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_typeService] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[label] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type_statusOffer]    Script Date: 26-05-26 20:04:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type_statusOffer](
	[id_statusOffer] [int] IDENTITY(1,1) NOT NULL,
	[label] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_statusOffer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[label] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProg]    Script Date: 26-05-26 20:04:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProg](
	[id_user] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[role] [nvarchar](50) NULL,
	[email] [nvarchar](150) NULL,
	[phone] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Agency_Services] ADD  DEFAULT (getdate()) FOR [date_service]
GO
ALTER TABLE [dbo].[Agent] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[Estate_Documents] ADD  DEFAULT (getdate()) FOR [upload_date]
GO
ALTER TABLE [dbo].[Estate_Images] ADD  DEFAULT ((0)) FOR [is_main]
GO
ALTER TABLE [dbo].[Real_estate] ADD  DEFAULT (getdate()) FOR [creation_date]
GO
ALTER TABLE [dbo].[Agency_Services]  WITH CHECK ADD FOREIGN KEY([id_agent])
REFERENCES [dbo].[Agent] ([id_agent])
GO
ALTER TABLE [dbo].[Agency_Services]  WITH CHECK ADD FOREIGN KEY([id_client])
REFERENCES [dbo].[Clients] ([id_client])
GO
ALTER TABLE [dbo].[Agency_Services]  WITH CHECK ADD FOREIGN KEY([id_typeService])
REFERENCES [dbo].[Type_service] ([id_typeService])
GO
ALTER TABLE [dbo].[Agent]  WITH CHECK ADD FOREIGN KEY([id_user])
REFERENCES [dbo].[UserProg] ([id_user])
GO
ALTER TABLE [dbo].[Client_Event]  WITH CHECK ADD FOREIGN KEY([id_client])
REFERENCES [dbo].[Clients] ([id_client])
GO
ALTER TABLE [dbo].[Client_Event]  WITH CHECK ADD FOREIGN KEY([id_event])
REFERENCES [dbo].[Event] ([id_event])
GO
ALTER TABLE [dbo].[Estate_Documents]  WITH CHECK ADD FOREIGN KEY([id_estate])
REFERENCES [dbo].[Real_estate] ([id_estate])
GO
ALTER TABLE [dbo].[Estate_Images]  WITH CHECK ADD FOREIGN KEY([id_estate])
REFERENCES [dbo].[Real_estate] ([id_estate])
GO
ALTER TABLE [dbo].[Estate_status_history]  WITH CHECK ADD FOREIGN KEY([id_estate])
REFERENCES [dbo].[Real_estate] ([id_estate])
GO
ALTER TABLE [dbo].[Estate_status_history]  WITH CHECK ADD FOREIGN KEY([id_statusOffer])
REFERENCES [dbo].[Type_statusOffer] ([id_statusOffer])
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD FOREIGN KEY([id_agent])
REFERENCES [dbo].[Agent] ([id_agent])
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD FOREIGN KEY([id_estate])
REFERENCES [dbo].[Real_estate] ([id_estate])
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD FOREIGN KEY([id_typeEvent])
REFERENCES [dbo].[Type_event] ([id_typeEvent])
GO
ALTER TABLE [dbo].[Real_estate]  WITH CHECK ADD FOREIGN KEY([id_owner])
REFERENCES [dbo].[Clients] ([id_client])
GO
ALTER TABLE [dbo].[Real_estate]  WITH CHECK ADD FOREIGN KEY([id_typeEstate])
REFERENCES [dbo].[Type_estate] ([id_typeEstate])
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD CHECK  (([type_client]='Partenaire' OR [type_client]='Locataire' OR [type_client]='Acheteur' OR [type_client]='Propriétaire'))
GO
ALTER TABLE [dbo].[UserProg]  WITH CHECK ADD CHECK  (([role]='Assistant' OR [role]='Agent' OR [role]='Admin'))
GO
USE [master]
GO
